/*
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* universal reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
/*
* {
  outline: 2px dotted red
}
* * {
  outline: 2px dotted green
}
* * * {
  outline: 2px dotted orange
}
* * * * {
  outline: 2px dotted blue
}
* * * * * {
  outline: 1px solid red
}
* * * * * * {
  outline: 1px solid green
}
* * * * * * * {
  outline: 1px solid orange
}
* * * * * * * * {
  outline: 1px solid blue
}
*/
body {
  width: auto; /* prevent horizontal scrolling on mobile */
  font-family: Bebas, 'Bebas Neue', Arial, sans-serif;

}
/* used by tinymce WP editor */
img.centered, .aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}
img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
/* end used by tinymce WP editor */

.overlay-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}
.overlay-off {
  position: absolute;
  width: 0;
  height: 0;
}
/* paragraph spacing */
p {
  margin: 0;
}
p + p {
  margin-top: 1.0em;
}
.text-center {
  text-align: center;
}
.col-md-6{float:left;}
#header{
    .top-banner{
      background-color:#ff6200;
      .content-div{
        @media(min-width: 1200px){
          width:1024px;
          margin:auto;
          text-align: center;
        }

      .left-div{
        float:left;
        .label{
          color:#be3600;
          font-size:14.77pt;
          line-height:18.65pt;
          padding:10px;
          float: left;
          span{
            color:#fff;
            padding-left:15px;
          }
        }
      }
      .right-div {
        float:right;
        .login{
          float: left;
          padding: 10px;
          a{
            color: #be3600;
            font-size: 14.62pt;
            line-height: 18.46pt;
          }
        }
        .signup {
          float: left;
          padding: 10px;
          a{
            color: #fff;
            font-size: 14.62pt;
            line-height: 18.46pt;
          }
        }
      }
    }
  }
  .nav{
    background-color:#f9f9f9;
    .content-div {
      @media(min-width: 1200px) {
        width: 1024px;
        margin: auto;
        text-align: center;
      }
      .logo {
        float: left;
        .title {
          color: #000;
          font-size: 41.13pt;
          line-height: 51.91pt;
          margin: 40px 0;
          float: left;
          span {
            color: #ff6200;
          }
        }
      }
      .menu {
        margin: 0 0 50px 0;
        @media(min-width: 768px){
          margin: 50px 0;
        }
        ul{
          background: white;
          float: left;
          z-index: 9;
          transition: .5s;
          ul{
            position: absolute;
            left: 0;
            top: 100%;
            visibility: hidden;
            display: none;
            opacity: 0;
            ul{
              left: 100%;
              top: 0;
            }
          }
        }
        > ul{
          > li{
            a {
              color: #000;
            }
          }
        }
        li{
          float: left;
          position: relative;
          width: 150px;
          list-style: none;
          transition: .5s;
          &:hover{
            background: #ddd;
            > ul{
              visibility: visible;
              opacity: 1;
              display: block;
            }
            li{
              background: #ddd;
            }
          }
          li{
            &:hover{
              background: #bbb;
              li{
                background: #bbb;
              }
            }
            li{
              &:hover{
                background: #999;
              }
            }
          }
        }
        a {
          display: block;
          text-decoration: none;
          padding: 5px 15px;
          color: #000;
        }
      }
    }
  }

}
#page-content{
  .content-div{
    @media(min-width: 1200px){
      width:1024px;
      margin: auto;
      text-align: left;
    }
    .bread-crumb{
      margin: 50px 0;
      color: #929292;
      a {
        color: #929292;
        font-family: Ubuntu;
      }
      .current{
        font-weight: bold;
        color:#000;
      }
    }
    .contact{
      color:#878787;
      font-size:14pt;
      line-height:19pt;
      padding-bottom:15px;
      h1{
        font-size:26.96pt;
        line-height:19.54pt;
        font-weight: bold;
        color:#ff6200;

      }
    }
    .contact-form{
      @media(min-width: 1200px){
        width:472px;
        float:left;
      }
      h2{
        color:#ff6200;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 23pt;
        line-height:24.65pt;
        border-bottom:4px solid #585858;
      }
      input{
        color:#878787;
        font-size:14pt;
        line-height:24.65pt;
        background-color: #f6f6f6;
        border:1px solid #ededed;
        margin: 5px 0;
        padding: 10px;
        width:100%;
      }
      .contact-phone-field{
        width:calc( 50% - 7px);
      }
      .contact-email-field{
        width:calc( 50% - 7px);
        float: right;
        @media(min-width: 768px) {
          margin-left: 10px;
        }
      }
      .contact-message-field{
        height:105px;
      }
      .contact-submit{
        width:auto;
        margin-top: 15px;
        color:#fff;
        background-color:#ff6200;
        padding:5px 35px;
      }
    }
    .reach-us{
      @media(min-width: 1200px){
        width:472px;
        float:right;
      }
      h2{
        color:#ff6200;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 23pt;
        line-height:24.65pt;
        border-bottom:4px solid #585858;
      }
      color:#595959;
      font-size:16pt;
    }
    .socials{
      margin-top:30px;
      padding-bottom: 50px;
      @media(min-width: 768px){
        margin-top:60px;
        padding-bottom: 100px;
      }
      img{float:left;margin-right:5px;}
    }
  }
}
